.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #28a745;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.btn:hover {
  background-color: #218838;
}

.user-info {
  justify-content: space-between;
  align-items: center;
  background-color: #0074D9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 220px; 
}

.rank, .balance {
  margin: 0px;
}

.rank {
  font-size: 18px;
}

.balance {
  font-size: 16px;
}

